<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIRZeQtbdkIdwypX41JDxBaqyaK6KHG-k</string>
	<key>GCM_SENDER_ID</key>
	<string>345166247706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ken.PushNotification-Firebase</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationdemo1-9b38a</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationdemo1-9b38a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345166247706:ios:5f5975d4f1c1f3357d5ea3</string>
</dict>
</plist>